@using TabletopStore.Models.Orders
@model IEnumerable<Order>

<table class="highlight">
    <thead>
        <tr>
            <th>ID</th>
            <th>Details</th>
            <th>Placed</th>
            <th>Total</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Details</td>
                <td>@order.Placed</td>
                <td>@order.Total</td>
                <td>@order.CurrentState</td>
                <td>
                    @if (order.CurrentState == OrderState.Created)
                    {
                        <a class="btn red lighten-1" asp-action="CancelOrder" asp-route-id="@order.Id">Cancel</a>
                    }
                    else
                    {
                        <a class="btn red lighten-1 disabled" asp-action="CancelOrder" asp-route-id="@order.Id">Cancel</a>
                    }
                </td>
                <td><a class="btn green lighten-1" asp-action="CompleteOrder" asp-route-id="@order.Id">Confirm deliverance</a></td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>